
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment
.env
.env.*

# Temporary files
temp/
*.tmp

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
logs
*.log
debug.log
error.log

# Coverage
coverage/
*.lcov
